<?xml version="1.0"?>
<robot name="ramp" xmlns:xacro="http://ros.org/wiki/xacro">

 <material name="White">
    <color rgba="${0/255} ${0/255} ${0/255} 1.0"/>
  </material>

 <material name="Black">
    <color rgba="${0/255} ${0/255} ${0/255} 1.0"/>
  </material>

 <material name="Red">
    <color rgba="${255/255} ${100/255} ${0/255} 1.0"/>
  </material>

 <material name="Brown">
    <color rgba="${198/255} ${94/255} ${42/255} 1.0"/>
  </material>

 <material name="DarkBrown">
    <color rgba="${144/255} ${68/255} ${30/255} 1.0"/>
  </material>


<material name="orange">
  <color rgba="0.8 0.4 0.0 1.0"/>
</material>


<link name="ramp">
	<inertial>
		<mass value="10"/>
		<inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
	</inertial>

	<visual > <!-- dont put name otherwise gazebo discards color-->
		<origin xyz="0 0 0" rpy="0 0 0"/>
		<geometry>			
	                  <box size="100 100  0.1" />
	        </geometry>
		 <material name="Cyan">
         		<color rgba="0 1.0 1.0 1.0"/>
  	    	</material>
		
	</visual>
	
	<collision>
	<origin xyz="0 0 0" rpy="0 0 0"/>
	<geometry>			
	              <box size="100 100  0.1" />
	</geometry>

	
	</collision>

</link>


<gazebo reference="terrain">
    <visual>
        <material>White</material>
       </visual>
  </gazebo>


	

<gazebo>
    <static>true</static>
</gazebo>

 <!--one of this /usr/share/gazebo-11/media/materials/scripts/gazebo.material   is for gazebo -->



</robot>
